<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%d{dd.MM.yy HH:mm:ss.SSS}] %-5level %-33logger{33} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="eu.newsapp.backend" level="DEBUG" />

    <logger name="com.zaxxer.hikari" level="WARN" />
    <logger name="org.eclipse.jetty" level="WARN" />
    <logger name="org.eclipse.jetty.server.Server" level="INFO" />
    <logger name="spark" level="WARN" />
    <logger name="spark.embeddedserver.jetty" level="INFO" />
    <logger name="okhttp3" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>
